# 1. Write a Python program to multiply all the items in a list.

In [1]:
l1 = [1,2,3,4,5]
p = 1
for i in l1:
    p = p*i
print(p)

120

# 2. Write a Python program to get the largest number from a list.

In [2]:
l2 = [1,9,3,7,4,6]
l2.sort()
lar = len(l2)-1
print(l2[lar])

9

# 3. Write a Python program to get the smallest number from a list.

In [3]:
l3 = [1,9,2,8,3,8]
l3.sort()
print(l3[0])

1

# 4. Write a Python program to check a list is empty or not.

In [4]:
l4 = [2,45]
length = len(l4)
if length == 0:
    print("List is empty")
else:
    print("List is not empty")

List is not empty

# 5.WA python fuction that takes two list and return true if they have at least one common member

In [5]:
list1 = [1,2,3,4]
list2 = [4,6,7,8]
def compare(l1,l2):
    for i in l1:
        for j in l2:
            if i == j:
                return True
    return False  
compare(list1,list2)

True

In [ ]:
def fun (list1,list2):

# 6.WAP to print a specified list after removing 0th, 4th ,5th

In [8]:
s = [1,2,3,4,5,6,7,8,9]
s.remove(1)
s.remove(5)
s.remove(6)

In [9]:
s

[2, 3, 4, 7, 8, 9]

# 7.WAP to concatenate two dic

In [10]:
dict1 = {1:10,2:20}
dict2 = {3:30,4:40}

dict1.update(dict2)
print(dict1)

{1: 10, 2: 20, 3: 30, 4: 40}

# 8.WAP to create a tuple with different data types

In [15]:
tup = (1,1.2,"Ankit",True,4+6j)
print(tup1)

(1, 1.2, 'Ankit', True, (4+6j))

In [17]:
type(tup)

tuple

# 9.WAP to create a tuple with numbers and print one item

In [18]:
tup2 = (1,2,3,4,5,6,7,8)
print(tup2[2])

3

# 10.WAP to convert a tuple into string

In [19]:
tup3 = (1,2,3,4,5,6)
str1 = ""
for i in tup3:
    i = str(i)
    str1 +=i
print(str1)  
type(str1)

123456

str

# 11.WAP to get 4th element and 4th last elemtn from tuple

In [20]:
tup4 = (1,2,3,4,5,6,7,8,9)
print(tup4[3])
print(tup4[-4])

4
6

# 13. WA function to sum all numbers in alist

In [21]:
def sum_list(s_list):
    sum_num = 0
    for i in s_list:
        sum_num += i
    return sum_num

In [22]:
sum_list([8,2,3,0,7])

20

# 14. WA function to sum all numbers in alist

In [24]:
def mul_list(s_list):
    mul_num = 1
    for i in s_list:
        mul_num *= i
    return mul_num

In [25]:
mul_list([8,2,3,-1,7])

-336

# 15. Calculate the sum of all numbers from 1 to given numbers

In [26]:
given = 5
sum = 0
for i in range(1,given+1):
    sum += i
print(sum)

15

# 16. WAP to print a table of given number

In [27]:
num = int(input("Enter the number: "))
for i in range(1,11):
    print(num,"*",i,"=",num*i)

Enter the number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

# 17.Display numbers form a list using loop

In [28]:
list_n = [1,2,3,4,5,6,7,8,0]
for i in list_n:
    print(i)

1
2
3
4
5
6
7
8
0

# 18. WAP to count the total number of digits in a number

In [29]:
num_1 = int(input("Enter your number: "))
num_1 = str(num_1)
print(len(num_1))

Enter your number: 234
3

# 19.A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

# 20.Take values of length and breadth of a rectangle from user and check if it is square or not.

In [30]:
length = int(input("Enter the length: "))
breadth = int(input("Enter the breadth: "))

if length == breadth:
    print("It is a square")
else:
    print("It is not a square")

Enter the length: 9
Enter the breadth: 9
It is a square

# 20.Take values of length and breadth of a rectangle from user and check if it is square or not.
A school has following rules for grading system:
a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

Ask user to enter marks and print the corresponding grade

# 21.Take input of age of 3 people by user and determine oldest and youngest among them.

# 22.A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print
percentage of class attended
Is student is allowed to sit in exam or not.